:root{
/* Color styles */
--marrons: rgba(177, 133, 68, 1);
--blanc: rgba(255, 255, 255, 1);
--noir: rgba(0, 0, 0, 1);

/* Text-size styles */
--texte: 16px;
--titre: 52px;
--titre-2: 40px;
--intertitre: 28px;
--légende: 12px;

}