.header{
    background-color: var(--marrons);
    padding: 16px;
}

.header-titre2{
    color: var(--blanc);
    text-align: center;
    padding: 54px;
    margin-top: 5px;
    margin-bottom: 0px;
    
}

.header-img{
    width: 198px;
    height: 264px;
    flex-shrink: 0;
    margin: 88px;
    margin-top: 0px;
    margin-bottom: 10px;
    
}

.header-intertitre{
    color: var(--blanc);
}

.dropdown {
    position: absolute;
    top: 24px;
    right: 24px;
  }
  
  .dropdown-content {
    display: none;
    position: fixed; /* Change from absolute to fixed */
    background-color: var(--blanc);
    width: 100%; /* Take full width */
    height: 100%; /* Take full height */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    box-shadow: none; /* Remove box shadow */
    padding: 12px 16px;
    z-index: 1;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.close {
    position: absolute;
    top: 24px;
    right: 60px;
}
  
.header-logo{
    width: 46px;
    height: 55px;
    flex-shrink: 0;  
}

hr{ border: none;
    border-top: 1px solid var(--blanc); 
    width: 70%; 
    margin: auto;
}
