.Batiment__Titre{
    color: var(--Marrons, #B18544);
    padding: 44px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Batiment__img{
    width: 340px;
    height: 193px;
    flex-shrink: 0;
    display: block; 
    margin: auto; 

}

.Batiment_texte{
    padding: 19px;
}

.Batiment__intertitre{
    color: var(--marrons);
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 30.8px */
    font-variant: small-caps;
}

.Batiment__retour{
    color: var(--blanc);
    font-size: var(--intertitre);
    margin-top: 10px;
    margin-bottom: 10px;
}

.Batiment__Titre__Maroc{
    padding: 10px;
}