.title__billetterie{
    color: var(--blanc);
    margin-bottom: 100px;
    margin-top: 100px;
    width: 321px;
    height: 193px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 44px */
    font-variant: small-caps;

}